#Ignore environment file
environment.yml

#Ignore csv files
Fake.csv
True.csv

#Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/ 

#Ignore Anaconda project files
anaconda_projects/

#Ignore other trained models
DT_model.jb
RF_model.jb
lr_model.jb